In [9]:
from dotenv import load_dotenv
load_dotenv()

True

In [10]:
import pandas as pd
import os

In [11]:
%run ./utils/save_result.ipynb

In [12]:
# load table from wikipedia
tables = pd.read_html("https://en.wikipedia.org/wiki/Christopher_Nolan_filmography")

filmography_table = tables[0]

In [13]:
filmography_table

,Year,Title,Director,Writer,Producer,Notes,Ref(s)
0,1998,Following,Yes,Yes,Yes,Also editor and cinematographer,[23]
1,2000,Memento,Yes,Yes,No,NaN,[23][24]
2,2002,Insomnia,Yes,No,No,NaN,[23][24]
3,2005,Batman Begins,Yes,Yes,No,NaN,[23][24]
4,2006,The Prestige,Yes,Yes,Yes,NaN,[23][24]
5,2008,The Dark Knight,Yes,Yes,Yes,NaN,[23][24]
6,2010,Inception,Yes,Yes,Yes,NaN,[23][24]
7,2012,The Dark Knight Rises,Yes,Yes,Yes,NaN,[23][24]
8,2013,Man of Steel,No,Story,Yes,NaN,[23][25]
9,2014,Interstellar,Yes,Yes,Yes,NaN,[23][24]
10,2017,Dunkirk,Yes,Yes,Yes,NaN,[23][24]
11,2020,Tenet,Yes,Yes,Yes,NaN,[9][26]
12,2023,Oppenheimer,Yes,Yes,Yes,NaN,[27]

In [14]:
# filter out table where he wasn't the director
filmography_table = filmography_table[filmography_table["Director"] == "Yes"]

In [15]:
# drop irrelevant columns
filmography_table = filmography_table.drop(["Director", "Writer", "Producer", "Notes", "Ref(s)"], axis=1)

In [16]:
# convert dataframe to exportable list
films = []

for film in filmography_table.values.tolist():
    films.append({
        "title": film[1],
        "year": film[0],
        "director": "Christopher Nolan"
    })

In [17]:
save("Christopher Nolan Feature Films", "All feature films directed by Christopher Nolan", "https://en.wikipedia.org/wiki/Christopher_Nolan_filmography", films) # type: ignore

https://film-collections.simse.dev/christopher-nolan-feature-films.json