In [2]:
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
import pandas as pd
import os

In [10]:
%run ./utils/save_result.ipynb

In [5]:
# load table from wikipedia
tables = pd.read_html("https://en.wikipedia.org/wiki/Christopher_Nolan_filmography")

filmography_table = tables[1]

In [11]:
filmography_table

    Year                  Title
0   1998              Following
1   2000                Memento
2   2002               Insomnia
3   2005          Batman Begins
4   2006           The Prestige
5   2008        The Dark Knight
6   2010              Inception
7   2012  The Dark Knight Rises
9   2014           Interstellar
10  2017                Dunkirk
11  2020                  Tenet
12  2023            Oppenheimer

In [6]:
# filter out table where he wasn't the director
filmography_table = filmography_table[filmography_table["Director"] == "Yes"]

In [7]:
# drop irrelevant columns
filmography_table = filmography_table.drop(["Director", "Writer", "Producer", "Notes", "Ref(s)"], axis=1)

In [8]:
# convert dataframe to exportable list
films = []

for film in filmography_table.values.tolist():
    films.append({
        "title": film[1],
        "year": film[0],
        "director": "Christopher Nolan"
    })

In [9]:
save("Christopher Nolan Feature Films", "All feature films directed by Christopher Nolan", "https://en.wikipedia.org/wiki/Christopher_Nolan_filmography", films) # type: ignore